html {
    height: 100%;
}
body{
    height: 92%;
}
.container{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1px;
    margin: 1%;
    margin-top: 3%;
}

.child-left{
    width: 300px;
    height: 90%;
    margin: 1%;
    border-radius: 1%;
}
.child-right{
    width: 500px;
    height: 90%;
    border-radius: 1%;
}
.img-view{
    width: 500px;
    height: 95%;
    background-color: yellow;
    border-radius: 1%;
    overflow: hidden;
}
.img-view img{
    width: 500px;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 1%;   
}
.img-view img:hover{
  transition: 0.3s;
    transform: scale(1.2);      
}
input[type="title"]::placeholder { 
    text-align: center;
    border: 0;
    outline: none;

}
.img-title{
    height: 4%;
    width: 500px;
    justify-content: center;
}
.img-title-inp{
    height: 100%;
    width: 100%;
    text-align: center;
    border: 0;
}

.img-view-inp{
    height: 100%;
    width: 100%;
    text-align: center;
    border: 0;
}

.img-short{
    box-sizing: border-box;
    border-radius: 10%;
    width: 100%;
    height: 7%;
    float: left;
    padding: 1%;
}
.img-short-left span {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
.img-short-left:hover span {
    top: 1%;
    left: 1%;
    width: 100px;
    height: 100px;
    transition: all 0.5s linear;
}

.img-short-left{
  width: 30%;
  height: 100%;
  float: left;
}
.img-short-left img{
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 10%;
  }
.img-short-right{
    height: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.option-selected {
    background-color: #055C9D;
    color: bisque;
  }